* {
    font-size: 13.3px;
}
body, html {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: #005FC6; */
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

@font-face {
    font-family: 'PPPlayground Medium';
    src: url('fonts/PPPlayground-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'PPPlayground Light';
    src: url('fonts/PPPlayground-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Berkeley Mono Regular';
    src: url('fonts/BerkeleyMono-Regular.ttf') format('truetype');
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 660px;
    height: 100vh;
    margin-top: -64px;
    padding: 4px;
}
.main-subtext {
    list-style: none;
    padding: 0;
    margin-bottom: 24px;
    text-align: center;
}
.main-subtext li {
    margin-bottom: 8px;
}
.main-subtext a {
    padding-bottom: 0;
    display: inline;
}

.orb-gif {
    width: 26%;
    display: block;
    margin: 0 auto;
    mask-image: radial-gradient(circle, black 50%, transparent 75%);
    -webkit-mask-image: radial-gradient(circle, black 50%, transparent 75%);
    margin-bottom: 32px;
}

h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.title {
    font-family: 'PPPlayground Light', serif;
    font-weight: 200
}
.translation {
    margin-top: 0;
    opacity: 0.25;
}
.subtitle {
    font-size: 32px;
    font-family: 'PPPlayground Medium', serif;
    font-weight: 400;
}
h3, p, ul, li, a {
    font-family: 'Berkeley Mono Regular', monospace;
    font-size: 13.3px;
    line-height: 1.6;
}
a {
    display: inline-block;
    padding-bottom: 4px;
    color: white;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
.link {
    opacity: 0.25;
}

@media (max-width: 768px) {
    body, html {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .content {
        height: auto;
        padding: 64px 16px 24px;
        margin-top: 0;
        justify-content: flex-start;
    }
    .main-subtext {
        margin-bottom: 24px;
    }
}

